<header class="header">
  <div class="logo-container">
    <h3 class="logo">
      Calendar
    </h3>
  </div>
  <div class="button-container">
    <mat-button-toggle-group [hideSingleSelectionIndicator]=true class="toggle-button-container" name="fontStyle"
                             aria-label="Font Style">
      <mat-button-toggle
        [routerLink]="'app-calendar-month'"
        class="toggle-button" value="month"
        [checked]="isRouteActive('app-calendar-month')">Month
      </mat-button-toggle>

      <mat-button-toggle
        [routerLink]="'app-calendar-year'"
        class="toggle-button"
        value="year"
        [checked]="isRouteActive('app-calendar-year')">Year
      </mat-button-toggle>
    </mat-button-toggle-group>
  </div>
</header>
