<div class="calendar" *ngIf="calendar">
  <div class="nav-container">
    <mat-toolbar-row class="nav-month-box">
      <button mat-icon-button (click)="previousMonth()">
        <mat-icon>chevron_left</mat-icon>
      </button>
      <span class="date-display">{{ date.format('MMMM YYYY') }}</span>
      <button mat-icon-button (click)="nextMonth()">
        <mat-icon>chevron_right</mat-icon>
      </button>
      <button mat-raised-button (click)="currentMonth()">Today</button>
    </mat-toolbar-row>
    <div class="dropdown">
      <select>
        <option value="">Filter by absence type</option>
        <option value="1">Sick Leave</option>
        <option value="2">Vacation</option>
      </select>
    </div>
  </div>
  <div class="calendar-header">
    <div class="calendar-day-name">Monday</div>
    <div class="calendar-day-name">Tuesday</div>
    <div class="calendar-day-name">Wednesday</div>
    <div class="calendar-day-name">Thursday</div>
    <div class="calendar-day-name">Friday</div>
    <div class="calendar-day-name">Saturday</div>
    <div class="calendar-day-name">Sunday</div>
  </div>
  <div class="calendar-body">
    <div class="calendar-row" *ngFor="let row of calendar ">
      <div class="calendar-day" *ngFor="let c of row"
           [ngClass]="{'current-day': c.isCurrentDay, 'not-current-month':!c.isCurrentMonth}">
        <div class="calendar-day-header">
          <strong> {{ c.day }}</strong>
        </div>
      </div>
    </div>
  </div>
</div>
