.calendar-day {
  border: 1px solid #ddd;
  min-height: 100px;
  padding: 5px;
  box-sizing: border-box;
}

.calendar-day-header {
  text-align: right;
  padding: 5px;
}

.current-day {
  border-top: #8cbee8 solid 3px;
}

.not-current-month {
  color: lightgray;
}

@media (max-width: 768px) {
  .calendar-day {
    min-height: 80px;
  }

  .date-display {
    font-size: 1rem;
    min-width: 120px;
  }
}
