.calendar-month {
  display: flex;
  align-items: center;
  flex-direction: column;
  border: #f1f0f0 solid 1px;
  overflow: hidden;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.calendar-day {
  padding: 10px;
}

.disabled {
  display: none;
}

.current-day {
  background-color: #8cbee8;
  border-radius: 20%;
  font-weight: bold;
  color: white;
}

@media (max-width: 768px) {
  .calendar {
    grid-template-columns: 1fr;
  }
}


