.calendar {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

.nav-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 10px;
  border-radius: 20px;
}

.nav-month-box {
  display: flex;
  justify-content: center;
  align-items: center;
}

.date-display {
  font-size: 1.2rem;
  margin: 0 16px;
  min-width: 70px;
  text-align: center;
}

button[mat-icon-button] {
  background-color: #f1f0f0;
  color: gray;
  border-radius: 5px;
}

button[mat-raised-button] {
  --mdc-protected-button-container-shape: 5px;
  --mdc-protected-button-container-elevation-shadow: none;
  margin-left: 16px;
  color: gray;
  background-color: #f1f0f0;
  font-weight: 500;
}

mat-form-field {
  margin-top: 20px;
}

.dropdown select {
  font-weight: bold;
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 8px 12px;
  font-size: 14px;
  color: #333;
  cursor: pointer;
  outline: none;
}

.dropdown select:hover {
  border-color: #999;
}

.dropdown select:focus {
  border-color: black;
  box-shadow: 0 0 0 2px #f1f0f0;
}

.date-display {
  margin: 0 15px;
  font-size: 16px;
  color: #333;
  align-self: center;
}

.calendar-box {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px;
}

.calendar-month {
  display: flex;
  align-items: center;
  flex-direction: column;
  border: #f1f0f0 solid 1px;
  overflow: hidden;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.calendar-row {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  width: 100%;
}

.calendar-month-name {
  text-align: center;
  background-color: #f1f0f0;
  color: #454444;
  padding: 15px;
  width: 100%;
  font-size: 1.2em;
  font-weight: bold;
}

.calendar-day {
  aspect-ratio: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.calendar-day-header {
  padding: 5px;
  text-align: center;
}

.disabled {
  display: none;
}

.current-day {
  background-color: #8cbee8;
  border-radius: 20%;
  font-weight: bold;
}

@media (max-width: 768px) {
  .nav-container {
    flex-direction: column;
    align-items: end;
  }

  .dropdown {
    margin-top: 10px;
    width: 100%;
    display: flex;
    justify-content: end;
  }

  .calendar {
    grid-template-columns: 1fr;
  }

  .calendar-day {
    font-size: 0.9em;
  }
}

@media (max-width: 480px) {
  .calendar-day {
    font-size: 0.8em;
  }
}
