<div class="calendar-wrapper" *ngIf="calendar">
  <div class="nav-container">
    <mat-toolbar-row class="nav-month-box">
      <button mat-icon-button (click)="getPreviousYear()">
        <mat-icon>chevron_left</mat-icon>
      </button>
      <span class="nav-date-display">{{ currentDate.value.format('YYYY') }}</span>
      <button mat-icon-button (click)="getNextYear()">
        <mat-icon>chevron_right</mat-icon>
      </button>
      <button mat-raised-button (click)="getCurrentYear()">Current</button>
    </mat-toolbar-row>
    <mat-form-field>
      <mat-label>Filter by absence type</mat-label>
      <mat-select [(value)]="selectedAbsenceType" (selectionChange)="onAbsenceTypeChange($event.value)">
        <mat-option [value]="null">All</mat-option>
        <mat-option value="sick">Sick Leave</mat-option>
        <mat-option value="vacation">Vacation</mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <div class="calendar-year-header">
    <div class="calendar-month" *ngFor="let month of calendar; let monthIndex = index">
      <div class="calendar-month-name">
        {{ monthList[monthIndex] }}
      </div>
      <div class="calendar-row" *ngFor="let row of month">
        <div class="calendar-day" *ngFor="let day of row">
          <button *ngIf="shouldDisplayDay(day)" (click)="handleAbsenceDayClick(day)"
                  [ngClass]="{'absence-sick': day.absence?.type === AbsenceType.Sick,
                      'absence-vacation': day.absence?.type === AbsenceType.Vacation,
                      'disabled': day.disabled}"
                  class="calendar-day-button full-width">

            <div class="calendar-day-header" [ngClass]="{'current-day': day.isCurrentDay}">
              <div class="day-number">{{ day.day }}</div>
            </div>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
