/* Font Import */
@font-face {
  font-family: 'Roboto-Light';
  src: url('./assets/fonts/Roboto/Roboto-Light.ttf') format('truetype');
}

/* Global Styles */
* {
  font-family: 'Roboto-Light', sans-serif;
  font-weight: 300;
  font-size: 16px;
}

html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

/*Main Styles*/
.container {
  display: flex;
  flex-direction: column;
}

/* Navigation Styles */
.nav-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  border-radius: 20px;
  padding: 10px;
}

.nav-month-box {
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-date-display {
  margin: 0 15px;
  font-size: 16px;
  color: #333;
  align-self: center;
}

/* Calendar Styles */
.calendar-wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

.calendar-month-header,
.calendar-year-header {
  display: grid;
}

.calendar-month-header {
  grid-template-columns: repeat(7, minmax(50px, 1fr));
}

.calendar-year-header {
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px;
}

.calendar-row {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  width: 100%;
}

.calendar-day-header {
  text-align: center;
}

.calendar-month-name, .calendar-day-name {
  text-align: center;
  background-color: #f1f0f0;
  color: #454444;
  padding: 10px;
  box-sizing: border-box;
  width: 100%;
}

/*Form Style*/
.absence-container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f5f5f5;
}

.absence-form-wrapper {
  width: 100%;
  max-width: 500px;
  padding: 20px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.absence-form-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.absence-form-title {
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 0;
  color: #333;
}

.absence-form {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.absence-date-form-container {
  display: flex;
  gap: 16px;
}

.absence-date-box-container {
  flex: 1;
}

.absence-button-row {
  display: flex;
  justify-content: flex-end;
  gap: 8px;
  margin-top: 20px;
}

.absence-textarea {
  min-height: 80px;
}

/*Absence day style*/
.calendar-day-button {
  width: 100%;
  height: 100%;
  border: none;
  cursor: pointer;
  background: none;
}

.absence-sick {
  border: none;
  color: white;
  background-color: red;
}

.absence-vacation {
  border: none;
  color: white;
  background-color: blue;
}
.non-clickable {
  pointer-events: none;
  background-color: transparent;
  border: none;
}
/* Media Queries */
@media (max-width: 768px) {
  .nav-container {
    flex-direction: column;
    align-items: end;
  }
}
