/* Font Import */
@font-face {
  font-family: 'Roboto-Light';
  src: url('./assets/fonts/Roboto/Roboto-Light.ttf') format('truetype');
}

/* Global Styles */
* {
  font-family: 'Roboto-Light', sans-serif;
  font-weight: 300;
  font-size: 16px;
}

html, body {
  height: 100%;
}

body {
  margin: 0;
  overflow-y: scroll;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

/* Navigation Styles */
.nav-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  border-radius: 20px;
  padding: 10px;
}

.nav-month-box {
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-date-display {
  margin: 0 15px;
  font-size: 16px;
  color: #333;
  align-self: center;
}

/* Calendar Styles */
.calendar-wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

.calendar-month-header,
.calendar-year-header {
  display: grid;
}

.calendar-month-header {
  grid-template-columns: repeat(7, minmax(50px, 1fr));
}

.calendar-year-header {
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px;
}

.calendar-row {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  width: 100%;
}

.calendar-day-header {
  padding: 5px;
  text-align: center;
}

.calendar-month-name, .calendar-day-name {
  text-align: center;
  background-color: #f1f0f0;
  color: #454444;
  padding: 10px;
  box-sizing: border-box;
  width: 100%;
}

/* Media Queries */
@media (max-width: 768px) {
  .nav-container {
    flex-direction: column;
    align-items: end;
  }
}
